.container
{
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    font-weight: bold;
    padding: 10px;
}
.headerContainner
{
    background-color: coral;
}
.footerContainer
{
    background-color:lightgreen;
}