body
{
    padding:2em;
}
.container
{
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
}
.headerContainner
{
    background-color: coral;
    font-size: 20px;
}
.footerContainer
{
    background-color:lightgreen;
}
/* Setting the main container item such as articles and side bars*/
.mainContainer
{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
.mainContainerItem
{
    text-align: left;
    flex:  3 0px ;
    background-color: deepskyblue;
    order: 2;
}
article
{
    background-color:aqua;
    padding: 10px;
    margin: 10px;
}
/*Setting the style for the side bars*/
.leftSideBar
{
 background-color: gold;
 order: 1;
}
.rightSideBar
{
   
    background-color: hotpink;
    order: 3;
}
.sidebarItem
{
    flex: 1 0 0;
    border: 0px solid green;
}